# /etc/systemd/system/poll_le_certs.service
[Unit]
Description=Poll Let's Encrypt certs over NFS for changes
After=network.target nfs-client.target remote-fs.target

[Service]
#Type=forking
ExecStart=/bin/bash /usr/local/bin/poll_le_certs.sh

[Install]
WantedBy=multi-user.target
